@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

.font-baloo {
    font-family: "Baloo 2", sans-serif;
}

.font-outfit {
    font-family: "Outfit", sans-serif;
}

.font-Montserrat {
    font-family: "Montserrat", sans-serif;
}

.bg-primary {
    background-color: #83326D;
}

.downArrow {
    animation: ArrowDownAnimation infinite 0.7s alternate ease-in;
}

@keyframes ArrowDownAnimation {
    from {}
    to {
        transform: translateY(5px);
    }
}

.suggListScrollBar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.suggListScrollBar::-webkit-scrollbar-track {
  background-color: #f5f5f500;
  border-radius: 10px;
}

.suggListScrollBar::-webkit-scrollbar-thumb {
  background-color: #55555513;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.textAreaScrollBar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.textAreaScrollBar::-webkit-scrollbar-track {
  background-color: #f5f5f500;
  border-radius: 10px;
}

.textAreaScrollBar::-webkit-scrollbar-thumb {
  background-color: #55555513;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

@keyframes loading {
  from {}
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaling {
  from {}
  to {
    scale: calc(1.4);
  }
}

.spinningLoading {
  animation: 
    loading 1s ease-in-out infinite,
    scaling 0.5s ease-in infinite alternate;
}